<div id="<%= dom_id tier %>">
  <p>
    <strong>Id:</strong>
    <%= tier.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= tier.name %>
  </p>

  <p>
    <strong>Minspent:</strong>
    <%= tier.minSpent %>
  </p>

</div>
