<div id="<%= dom_id customer %>">
  <p>
    <strong>Customerid:</strong>
    <%= customer.customerId %>
  </p>

  <p>
    <strong>Customername:</strong>
    <%= customer.customerName %>
  </p>

  <p>
    <strong>Tierid:</strong>
    <%= customer.tierId %>
  </p>

</div>
